{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load permissions %}
{% load translations %}
{% load foundcat_extras %}

{% block extra_meta %}
  <script src="{% static 'foundcat-textrepo.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'textrepo.edit.css' %}">
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{{ object }}</a></li>
<li>My source texts</li>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs" role="tablist">

    <li role="presentation" class="active">
        <a href="{% url 'repo_add' object.slug %}#wikisource" aria-controls="wikisource" role="tab" data-toggle="tab">
            Upload Wikipedia page
        </a>
    </li>
    <li role="presentation">
        <a href="{% url 'repo_add' object.slug %}#sourcetext" aria-controls="sourcetext" role="tab" data-toggle="tab">
            Upload text
        </a>
    </li>
    <li role="presentation">
        <a href="{% url 'repo_add' object.slug %}#mytexts" aria-controls="mytexts" role="tab" data-toggle="tab">
            My source texts
        </a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="wikisource">
        <div class="content">
            <form action="{% url 'repo_add_wiki' object.slug %}#sourcetext">
                <div class="input-group">
                    <input type="text" name="wiki_query" class="form-control" placeholder="e.g.  https://de.wikipedia.org/wiki/Kraftwerk_Weisweiler  or  Kraftwerk Weisweiler" />
                    
                    <span class="input-group-btn">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="sourcetext">
        <div class="content">
            <form action="{% url 'repo_upload' object.slug %}#sourcetext" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Preview</button>
            </form>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="mytexts">
        <div class="content">
            <ul class="list-group">
                {% for repo in myrepos %}
                    <li class="list-group-item {% if repo.is_published %}list-group-item-success{% else %}list-group-item-danger{% endif %}">
                        {% if repo.is_published %}
                            {% translation_progress repo.repo %}
                        {% endif %}
                        <div class="repo-created-date pull-right">
                            Uploaded {{ repo.create_date|naturaltime }}
                        </div>
                        {% if repo.is_published %}
                            <a href="{% url 'translate' object.slug repo.slug 'en_GB' %}">
                                <strong>{{ repo.title }}</strong> (published)
                            </a>
                            {% if user.is_staff %}
                                <a href="{% url 'repo_edit' object.slug repo.slug %}" class="btn btn-default">Show</a>
                            {% endif %}
                            

                        {% else %}
                            
                            <strong>{{ repo.title }}</strong> (not published)
                            
                            <div>
                                <a href="{% url 'repo_edit' object.slug repo.slug %}" class="btn btn-default">Edit</a>
                                <form style="display:inline" action="{% url 'repo_edit' object.slug repo.slug %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" name="delete" type="submit">Delete</button>
                                </form>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<div class="source-language">
Source language: <span>{{ object.source_language }}</span>
</div>


{% endblock %}
