{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load permissions %}
{% load crispy_forms_tags %}
{% load foundcat_extras %}

{% load static %}


{% block extra_meta %}

<link rel="stylesheet" type="text/css" href="{% static 'foundcat.css' %}" />
<script src="{% static 'dashboard.js' %}"></script>

{% endblock %}  

{% block breadcrumbs %}
<li>Dashboard ({{ object.name }})</li>


<img src="{% url 'widget-image' project=object.slug widget='svg' color='badge' extension='svg' %}" class="pull-right flip" />
{% endblock %}

{% block content %}

{% whiteboard_messages project=object %}

{% can_see_repository_status user object as user_can_see_repository_status %}
{% can_commit_translation user object as user_can_commit_translation %}
{% can_manage_acl user object as user_can_manage_acl %}
{% can_edit_project user object as user_can_edit_project %}


<div class="tab-pane active" id="components">

<a href="{{ add_url }}" class="btn btn-default pull-left">Add source text</a>

{% include "legend.html" %}

<table class="sort table">
<thead>
<tr>
<th>Title</th>
<th style="text-align: right">Recent activity</th>
<th colspan="2">{% trans "Translated" %}</th>
<!--<th colspan="2">{% trans "Words" %}</th>
<th>Translate</th>-->
</tr>
<tbody>
{% for prj in object.subproject_set.select_related %}
<tr>
<th>



{% foundcat_duo_link prj %}


</th>
<td class="activity">
    {% recent_project_change prj %}
</td>
<td class="progress-cell">
    {% translation_progress prj %}
</td>
<td class="percent" style="width: 6%">
    {{ prj.get_translated_percent }}%
</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>



{% endblock %}
