{% load translations %}
{% load crispy_forms_tags %}
{% load foundcat_extras %}

<div class="foundcat-progress">
    {% translation_progress object %}
    <div class="overview">
        <div class="row">
            <div class="col-sm-3">
                <p>
                    {% if object.translated > 0 %}
                        Reviewed: <strong class="text-success">{{ object.get_translated_percent }}%</strong>
                    {% else %}
                        <span class="text-muted">Reviewed: {{ object.get_translated_percent }}%</span>
                    {% endif %}
                </p>
                <p>
                    <span class="text-muted">Needs action: {{ object.get_untranslated_percent }}%</span>
                </p>
            </div>
            <div class="col-sm-3">
                <p>
                    {% if object.fuzzy > 0 %}
                        Unreviewed: <strong class="text-danger">{{ object.get_fuzzy_percent }}%</strong>
                    {% else %}
                        <span class="text-muted">Unreviewed: {{ object.get_fuzzy_percent }}%</span>
                    {% endif %}
                </p>
            </div>
            <div class="col-sm-3">
                <p>
                    Segments: <strong>{{ object.total }}</strong>
                </p>
                <p>
                    Segments with comments: <strong>{{ object.have_comment }}</strong>
                </p>
                {% if object.subproject.license_url|length > 0 %}
                    <p>
                        License: <a href="{{ object.subproject.license_url }}">object.subproject.license</a>
                    </p>
                {% endif %}
                
            </div>
            <div class="col-sm-3 text-right">
                {% if textrepo %}
                    <div>
                        Uploaded by {{ textrepo.owner.profile.get_user_display_link }}
                        {% show_badges textrepo.owner %}
                        {{ textrepo.create_date|naturaltime }}
                    </div>
                    <p>{% recent_translation_change object %}</p>
                {% endif %}
            </div>
        </div>
        {% if object.subproject.license_url|length > 0 %}
            <a href="{{ object.subproject.license_url }}">Original content</a>
        {% endif %}
    
        {% if textrepo %}
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'download_source' project=object.subproject.project.slug subproject=object.subproject.slug %}" class="btn btn-default">
                        Download source
                    </a>
                </div>
                <div class="col-sm-6">
                    {% if object.translated == object.total %}
                        <a href="{% url 'download_translation_doc' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}" class="btn btn-default pull-right">
                            Download translation
                        </a>
                    {% elif object.fuzzy > 0 or object.translated > 0 %}
                        <span class="btn btn-default pull-right disabled" title="Finish the translation before downloading it">Download translation</span>
                        <!--<div class="btn-group pull-right">
                            <a href="{% url 'download_translation_doc' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}" class="btn btn-default">
                                Download translation preview
                            </a>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'download_translation_doc' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}?type=1">
                                        Preview with unreviewed Translations
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'download_translation_doc' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}?type=2">
                                        Preview with unreviewed Translations and sources if untranslated
                                    </a>
                                </li>
                            </ul>
                        </div>-->
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
