{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load translations %}
{% load crispy_forms_tags %}
{% load foundcat_extras %}
{% load permissions %}


{% block extra_meta %}
<link rel="canonical" href="{{ unit.get_absolute_url }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script src="{% static 'jquery.visible.min.js' %}"></script>
  <script src="{% static 'foundcat-duo.js' %}"></script>
  <script src="{% static 'warn-unsaved-forms.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
<li><a href="/">{{ unit.translation.subproject.project }}</a></li>
<li>{{ unit.translation.subproject.name }}</li>
{% endblock %}

{% block content %}

{% can_translate user unit.translation as user_can_translate %}
{% can_suggest user unit.translation as user_can_suggest %}
{% can_accept_suggestion user unit.translation as user_can_accept_suggestion %}
{% can_vote_suggestion user unit.translation as user_can_vote_suggestion %}
{% can_use_mt user unit.translation as user_can_use_mt %}
{% can_edit_flags user unit.translation.subproject.project as user_can_edit_flags %}
{% can_edit_priority user unit.translation.subproject.project as user_can_edit_priority %}
{% can_add_screenshot user project as user_can_add_screenshot %}
{% can_add_comment user project as user_can_add_comment %}

{% with unit.get_comments as comments %}
 
 <div class="foundcat-editor">
 
{% include "duo.info.html" %}
 
{% needs_link_to_top nearby as tlink %}
{% if tlink %}
    <a href="{{ first_unit_url|duo }}" class="btn btn-default">{{ tlink }}</a>
{% endif %}
 
 <div class="foundcat-segments">
    
    
    {% for item in nearby %}
    
        {% same item unit is_segment as is_same %}
                
        <div class="foundcat-segment {% if is_same %} current {% endif %}{% if item.fuzzy  %} fuzzy {% endif %}{% if item.translated  %} translated {% endif %} "{% if is_same %} id="current-segment"{% endif %} data-position="{{ item.position }}">
            <div class="position">
                #<span>{{ item.position }}</span>
            </div>
            {% if is_same %}
                <div class="source">
                    {% include "foundcat-source-glossary.html" %}
                    
                    {% with unit.active_checks as checks %}
                        {% if checks %}
                            <div class="checks">
                                {% show_checks unit.translation.subproject.project checks user %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
                        <li role="presentation"><a href="#glossary" aria-controls="glossary" role="tab" data-toggle="tab">Glossary</a></li>
                        <li role="presentation"><a href="#machinetranslation" aria-controls="machinetranslation" role="tab" data-toggle="tab">Machine translation</a></li>
                    </ul>
                </div>
            {% else %}
                <a class="source" href="{{ item.get_absolute_url|duo }}">
                    {% format_translation item.source unit.translation.subproject.project.source_language None None True %}</a>
                </a>
            {% endif %}
        
            {% if is_same %}
                <div class="translation translation-item">

{% if unit.suggestions and unit.suggestions.first.target != unit.target %}
<form action="{{ this_unit_url }}" method="post">
    {% csrf_token %}
<input type="hidden" name="checksum" value="{{ unit.checksum }}" />

<ul class="list-group">
 {% for suggestion in unit.suggestions|dictsortreversed:"get_num_votes" %}
  <li class="list-group-item">
   {% format_translation suggestion.target unit.translation.language diff=unit.target simple=True %}

   <div class="user-info">
   {% if suggestion.user %}
    {{ suggestion.get_user_display }}
    {% show_badges suggestion.user %}
   {% else %}
    {% trans "Anonymous user has suggested" %}
   {% endif %}
   {{ suggestion.timestamp|naturaltime }}

   <div class="pull-right btn-group">
<!--   <span class="voting">-->
    {% if user.is_authenticated and user_can_vote_suggestion %}
     <button type="submit" class="btn btn-primary btn-sm" name="upvote" value="{{ suggestion.id }}">
      <i class="fa fa-thumbs-up"></i>
      {{ suggestion.get_num_votes }}
     </button>
     <!--<button type="submit" class="btn btn-danger" name="downvote" value="{{ suggestion.id }}"><i class="fa fa-thumbs-down"></i> {% trans "Vote against" %}</button>-->
    {% endif %}
<!--   </span>-->

   {% if user_can_accept_suggestion %}
    <button type="submit" class="btn btn-success btn-sm" name="accept" value="{{ suggestion.id }}"><i class="fa fa-check"></i> {% trans "Accept" %}</button>
    <!--<button type="submit" class="btn btn-warning" name="accept_edit" value="{{ suggestion.id }}"><i class="fa fa-pencil"></i> {% trans "Accept and edit" %}</button>-->
   {% endif %}
   {% can_delete_suggestion user unit.translation suggestion as user_can_delete_suggestion %}
   {% if user_can_delete_suggestion %}
    <!--<button type="submit" class="btn btn-danger" name="delete" value="{{ suggestion.id }}"><i class="fa fa-trash"></i> {% trans "Delete" %}</button>-->
   {% endif %}
   </div>
   </div>
   <div class="clearfix"></div>
  </li>
 {% endfor %}
</ul>

</form>

{% endif %}
                    <form action="{{ this_unit_url }}" method="POST">
                        {% csrf_token %}
                        {{ form.checksum }}

                        {{ form.target }}
                        {{ form.original }}
                        
                        
                        
                        {% if user_can_translate %}
                            <div class="foundcat-save">
                                {% toolbar form unit user.profile %}
                                
                                {% if unit.suggestions and unit.suggestions|length == 1 and unit.suggestions.first.target == unit.target and user_can_accept_suggestion %}
                                    <button type="submit" class="btn btn-success fc-review" name="accept" value="{{ unit.suggestions.first.id }}">
                                      <i class="fa fa-check"></i>
                                      {% trans "Review" %}
                                    </button>
 
<!--                                    <button class="btn btn-primary fc-review" type="submit" name="save" tabindex="150" {% if locked %}disabled="disabled"{% endif %} >
                                        <i class="fa fa-check"></i>
                                        {% trans "Review" %}
                                    </button>-->
                                {% elif item.position < item.translation.total %}
                                    <a href="{{ next_unit_url }}" class="btn btn-default fc-next">
                                        <i class="fa fa-chevron-down"></i>
                                        {% trans "Next" %}
                                    </a>
                                {% endif %}
                        
                                <button class="btn btn-primary fc-translate" type="submit" name="save" tabindex="150" {% if locked %}disabled="disabled"{% endif %} style="display: none">
                                    <i class="fa fa-pencil"></i> 
                                    {% trans "Translate" %}
                                </button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            {% else %}
                <a class="translation" href="{{ item.get_absolute_url|duo }}">
                    {% if item.translated or item.fuzzy %}
                        {% format_translation item.target unit.translation.subproject.project.source_language None None True %}</a>
                    {% endif %}
                </a>                    
                
            {% endif %}
            
            <div class="status">
					<div class="status-flag">
                        {% if item.has_comment and item.fuzzy %}
                            <div>
                                <i title="Segment has comment(s)" class="fa fa-comment text-danger"></i>
                            </div>
                        {% elif item.has_comment and item.translated %}
                            <div>
                                <i title="Segment has comment(s)" class="fa fa-comment text-success"></i>
                            </div>
                        {% elif item.has_comment %}
                            <div>
                                <i title="Segment has comment(s)" class="fa fa-comment text-info"></i>
                            </div>
                        {% elif item.fuzzy %}
                            <div>
                                <i title="Segment needs review" class="fa fa-question-circle text-danger"></i>
                            </div>
                        {% elif not item.translated %}
                            <div>
                                <i title="Segment is not translated" class="fa fa-times-circle text-danger"></i>
                            </div>
                        {% elif item.has_failing_check %}
                            <div>
                                <i title="Segment has failing checks" class="fa fa-exclamation-circle text-warning"></i>
                            </div>
                        {% elif item.translated %}
                            <div>
                                <i title="Segment is translated" class="fa fa-check-circle text-success"></i>
                            </div>
                        {% endif %}
                    </div>
            </div>
        </div>
        
        {% if is_same %}
            
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="comments">
                    <div class="row">
                        <div class="col-sm-6">
                            {% if comments %}
                                <ul class="list-unstyled">
                                    {% with this_unit_url as next_url %}
                                        {% include "foundcat-list-comments.html" %}
                                    {% endwith %}
                                </ul>
                            {% endif %}
                            <form method="post" action="{% url 'comment-fc' pk=unit.id %}" id="commentform">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ this_unit_url }}#current-segment" />
                                <input type="hidden" name="scope" value="translation" />
                                <div class="input-group" style="width: 100%;">
                                  <input type="text" class="form-control" placeholder="Write a comment..." name="comment">
                                  <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fa fa-comment"></i> {% trans ' Submit' %}
                                    </button>
                                  </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6 foundcat-history">




                            {% include "foundcat-list-changes.html" %}





                        </div>
                    </div>
                 </div>
                <div role="tabpanel" class="tab-pane" id="glossary">
                    <i id="glossary-add-loading" class="fa fa-spinner fa-spin" style="display: none;"></i>
                    <form action="{% url 'foundcat-js-add-glossary' unit_id=unit.id %}" method="POST" class="foundcat-add-dict-inline">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ this_unit_url }}" />
                                                
                        <div class="input-group input-group">
                            <input type="text" name="source" id="id_source" required placeholder="Source" class="form-control" />
                            <input type="text" name="target" id="id_target" placeholder="Target" class="form-control" />
                            <span class="input-group-btn">
                                <button class="btn btn-default foundcat-insert-glossary" title="Insert at caret"><i class="fa fa-paste" aria-hidden="true"></i></button>
                                <button class="btn btn-default foundcat-search" title="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                <input type="submit" class="btn btn-default pull-right submit-glossary" title="{% trans 'Add word to glossary' %}" value="{% trans 'Add to glossary' %}" />
                            </span>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="machinetranslation">
                    <i id="mt-loading" class="fa fa-spinner fa-spin" style="display: none;"></i>
                </div>
            </div>
        
        {% endif %}
        

        
        
    {% endfor %}

 </div>
 
{% needs_link_to_bottom nearby as blink %}
{% if blink %}
    <i id="nearby-loading" class="fa fa-spinner fa-spin" style="display: none;" data-baseurl="{{ base_unit_url }}" data-total="{{ object.total }}"></i>
    <a href="{{ last_unit_url|duo }}" class="btn btn-default" id="link-last-segment">{{ blink }}</a>
{% endif %}
 
 
 
 
 
 
 
 
 
<a href="{% url 'js-translate' unit_id=unit.id %}" class="hidden" id="js-translate"></a>
<a href="{% url 'js-mt-services' %}" class="hidden" id="js-mt-services"></a>

<a href="{% url 'js-lock' project=unit.translation.subproject.project.slug subproject=unit.translation.subproject.slug lang=unit.translation.language.code %}" class="hidden" id="js-lock" {% if update_lock %}data-autostart="1"{% endif %}></a>

{% endwith %}

{% endblock %}
