{% load translations %}
{% load i18n %}
{% load permissions %}
{% load foundcat_extras %}

{% for comment in comments %}
        {% can_delete_comment user comment as user_can_delete_comment %}

	<li class="comment">
		{{ comment.get_user_display }}
        
        {% show_badges comment.user 'left' %}
        
        <!--<a href="/badges/">% show_badges comment.user %</a>-->
        
		{{ comment.timestamp|naturaltime }}
		<!--<span class="pull-right flip badge">
			{% if comment.language %}
				{% trans "Translation comment" %}
			{% else %}
				{% trans "Source string comment" %}
			{% endif %}
		</span>-->
		<div class="comment-text">
			{{ comment.comment|urlize }}
		</div>
	</li>
{% endfor %}
