{% load i18n %}
{% load translations %}
{% load permissions %}
{% load crispy_forms_tags %}
{% load foundcat_extras %}

<ul class="list-unstyled">

    {% for c in change_list %}
        <li class="clearfix">
            {% if c.form %}
                
                <form class="set-error-category" action="{% url 'js-set-error-category' change_id=c.change.id %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i id="errorcategory-add-loading" class="fa fa-spinner fa-spin" style="display: none;"></i>
                        Improvement
                      </div>
                      {{ c.form }}
                    </div>
                </form>

            {% endif %}

            <span class="change-text">
                {% if c.change.action == c.change.ACTION_SUGGESTION %}
                    {% format_translation c.change.target unit.translation.language diff=unit.target simple=True %}
                {% elif c.old %}
                    {% format_translation c.change.target unit.translation.language diff=c.old simple=True %}
                {% else %}
                    {% format_translation c.change.target unit.translation.language simple=True %}
                {% endif %}
            </span>

            <div class="user-info">
            {{ c.change.get_user_display }}
            {% if c.change.user %}{% show_badges c.change.user %}{% endif %}
            {{ c.change.timestamp|naturaltime }}

            <span>
                {% if c.improvement %}
                    Improvement: {{ c.improvement.improvement_category }}
                {% else %}
                    {{ c.change.get_action_display }}
                {% endif %}
            </span>

            </div>
            
        </li>
    {% empty %}
        <li>           
            <span title="">Be the first to translate this segment</span>
        </li>
    {% endfor %}
</ul>
<button class="btn btn-default btn-xs more-changes">Show more changes</button>
