{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load permissions %}
{% load crispy_forms_tags %}
{% load foundcat_extras %}

{% load static %}


{% block extra_meta %}

<link rel="stylesheet" type="text/css" href="{% static 'foundcat.css' %}" />
<script src="{% static 'dashboard.js' %}"></script>

{% endblock %}  

{% block content %}


<div class="tab-pane active" id="components">

<div class="langpicker">
{% crispy form %}

<div class="description">Pick a language combination</div>
</div>

<a href="{{ add_url }}" class="btn btn-default pull-left">Add source text</a>

{% include "legend.html" %}

<table class="sort table">
<thead>
<tr>
<th>Title</th>
<th style="text-align: right">Recent activity</th>
<th colspan="2">{% trans "Translated" %}</th>
<!--<th colspan="2">{% trans "Words" %}</th>
<th>Translate</th>-->
</tr>
<tbody>

{% for prj in translations %}
<tr>
<th>



<a href="{% url 'translate' prj.subproject.project.slug prj.subproject.slug lang2.code %}">{{ prj.subproject.name }}</a>


</th>
<td class="activity">
    {% recent_translation_change prj %}
</td>
<td class="progress-cell">
    {% translation_progress prj %}
</td>
<td class="percent" style="width: 6%">
    {{ prj.get_translated_percent }}%
</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
{% for sp in other_subprojects %}
<tr>
<td>{{ sp.name }}</td>
<td class="activity"></td>
<td class="progress-cell">
<a href="{% url 'foundcat-add-lang' sp.project.slug sp.slug %}">Start translation</a>
</td>
<td class="percent"></td>
</tr>
{% endfor %}

</tfoot>
</table>

</div>



{% endblock %}
