{% load translations %}
{% load foundcat_extras %}

{% if change %}{% with change as c %}
    {% with c.get_action_display as action and c.unit.get_absolute_url|duo as url %}
        <span style="display:none">{{ c.timestamp|date:"U" }}</span>

        {% if c.user %}
            <div class="activity-1">
                {{ c.user.profile.get_user_display_link }}
                {{ c.timestamp|naturaltime }}<!--
            --></div>
            <div class="activity-2">
                {% if c.unit %}
                    <a href="{{ url }}">{{ action }}</a>
                {% else %}
                    {{ action }}
                {% endif %}
            </div>
        {% else %}
            <div class="activity-1 activity-single">
                Published {{ c.timestamp|naturaltime }}
            </div>
        {% endif %}
    {% endwith %}
{% endwith %}{% endif %}
