{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load permissions %}

{% block extra_meta %}
  <!--<script src="{% static 'foundcat/add-component.js' %}"></script>-->   
  <script src="{% static 'foundcat-textrepo.js' %}"></script>
  <script src="{% static 'foundcat-textrepo.wiki.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'textrepo.edit.css' %}">
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{{ object }}</a></li>
<li><a href="{% url 'repo_add' object.slug %}#mytexts">Edit source texts</a></li>
<li>{{ repo.title }}{{ title }}</li>
{% endblock %}

{% block content %}
    <div class="content">
            <form action="{% url 'repo_edit' object.slug repo.slug %}" method="POST">
                {% csrf_token %}
                
                {% if repo %}
                    <input type="hidden" name="repo_id" value="{{ repo.id }} "/>
                {% endif %}
                
                {{ form|crispy }}
                
                {% if not repo.is_published %}
                    <button class="btn btn-primary" type="submit" name="edit">Save changes (without publishing)</button>
                    <button class="btn btn-success" type="submit" name="publish">Publish</button>
                {% else %}
                    Changes can't be saved, because this text has already been published.
                {% endif %}
            </form>
    </div>
{% endblock %}
