{% extends "mail/base.html" %}

{% load i18n %}{% load translations %}

{% block content %}
<p>
{% trans "Hi,"%}
</p>

<p>
{% blocktrans %}There has been a change in translation on {{ translation }} at {{ site_title }}.{% endblocktrans %}
</p>

<table>
<tr>

<th>
{% trans "Source string:" %}
</th>

<td>
{% format_translation unit.source unit.translation.subproject.project.source_language %}
</td>
</tr>

<tr>
<th>
{% trans "Translation:" %}
</th>

<td>
{% format_translation unit.target unit.translation.language %}
</td>
</tr>

<tr>
<th>
{% trans "Translation change:" %}
</th>

<td>
{% format_translation unit.target unit.translation.language oldunit.target %}
</td>
</tr>
</table>

<p>
{% trans "You can edit this string at:" %}
</p>

<p><a href="{{ current_site_url }}{{ unit.get_absolute_url }}">{{ current_site_url }}{{ unit.get_absolute_url }}</a></p>

{% endblock %}
