{% extends "mail/base.html" %}

{% load i18n %}{% load translations %}

{% block content %}
<p>
{% trans "Hi,"%}
</p>

<p>
{% blocktrans %}There has been a new comment on {{ subproject }} at {{ site_title }}.{% endblocktrans %}
</p>

<table>
<tr>
<th>
{% trans "Source string:" %}
</th>

<td>
{% format_translation unit.source unit.translation.subproject.project.source_language %}
</td>
</tr>


<tr>
<th>
{% trans "Comment:" %}
</th>

<td>
{{ comment.comment }}
</td>
</tr>
</table>

<p>
{% trans "You can edit this string at:" %}
</p>

<p><a href="{{ current_site_url }}{{ unit.get_absolute_url }}#comments">{{ current_site_url }}{{ unit.get_absolute_url }}#comments</a></p>


{% endblock %}