{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load foundcat_extras %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_meta %}
  <link rel="stylesheet" type="text/css" href="{% static 'foundcat.css' %}">
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ page_profile.get_absolute_url }}">{{ page_profile.get_user_name }}</a></li>
{% endblock %}

{% block content %}
<div class="content">
 <form action="{% url "profile" %}" method="POST">
  {% csrf_token %}
  <h3>{% trans "Settings" %}</h3>
  {{ form|crispy }}
  <input type="submit" value="{% trans "Save" %}" class="btn btn-default" />
 </form>
</div>

{% endblock %}
