{% load i18n %}
{% load translations %}
{% load foundcat_extras %}

<div class="fbadge {{ classname }}">
    <div class="info">
        <span class="total">{{ total }}</span>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <span>Comments:</span>
            <strong>{{ comments }}</strong>
        </li>
        <li class="list-group-item">
            <span>New Translations:</span>
            <strong>{{ new_translations }}</strong>
        </li>
        <li class="list-group-item">
            <span>Reviews:</span>
            <strong>{{ reviews }}</strong>
        </li>
        <li class="list-group-item">
            <span>Translation changes:</span>
            <strong>{{ changed_translations }}</strong>
        </li>
        <li class="list-group-item">
            <span>Text uploads:</span>
            <strong>{{ text_uploads }}</strong>
        </li>
        <li class="list-group-item">
            <span>Glossary entries:</span>
            <strong>{{ glossary_entries }}</strong>
        </li>
        <li class="list-group-item">
            <span>Improvement categorisations:</span>
            <strong>{{ improvements }}</strong>
        </li>
    </ul>
</div>

