{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load foundcat_extras %}

{% load static %}

{% block extra_meta %}
  <link rel="stylesheet" type="text/css" href="{% static 'foundcat.css' %}">
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ page_profile.get_absolute_url }}">{{ page_profile.get_user_name }}</a></li>
{% endblock %}

{% block content %}

<div class="row">
{% if enable_avatars %}
<div class="col-lg-2">
<img src="{% url 'user_avatar' user=page_user.username size=128 %}" />
</div>
{% endif %}

<div class="col-lg-10">
{% with page_profile as profile and page_user as user %}
<table class="table table-condensed">
<tr>
<th>{% trans "Username" %}</th>
<td>{{ user.username }}</td>
</tr>
<tr>
<th>{% trans "Name" %}</th>
<td>{{ page_profile.get_user_name }}</td>
</tr>
{% include 'user-activity.html' %}
</table>
{% endwith %}
</div>

{% show_badges page_user %}

</div>

{% if user_projects %}

<h3>{% trans "Projects" %}</h3>
<div class="list-group">
{% for project in user_projects %}
<a class="list-group-item" href="{{ project.get_absolute_url }}">{{ project }}</a>
{% endfor %}
</div>

{% endif %}

<span class="hidden" id="load-activity" data-yearly="{% url 'yearly_activity' user=page_user.username %}" data-monthly="{% url 'monthly_activity' user=page_user.username %}"></span>

{% include "activity-tab.html" %}

<h3>{% trans "Recent changes" %}</h3>

{% include "last-changes-content.html" %}

<a class="btn btn-link" href="{% url 'changes' %}?{{ last_changes_url }}">{% trans "Browse all changes for user" %}</a>

{% endblock %}
