/*
Copyright © FoundCAT <team.foundcat@fh-aachen.de>

This file is part of FoundCAT <https://cat.fh-aachen.de/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


a.navbar-brand > img {
    opacity: 0.667;
}
a.navbar-brand:hover > img {
    opacity: 1;
}

.segment {
	overflow: hidden;
}
.segment.current {
    background: linear-gradient(to bottom, #e8ecec 0%, #fdfdfd 100%);
    /*box-shadow: 0 -10px 10px #ccc;*/
    border-radius: 4px;
}
.segment.current td {
    border-top: 1px solid #c1c1c1 !important;
}
.segment.current > td:first-child {
    border-left: 1px solid #dddddd !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.segment.current > td:last-child {
    border-right: 1px solid #dddddd !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*.segment.current > td,
#machine-translations-header > th {
    border-top: 0 !important;
}*/

.machine-menu {
    border-top: 1px solid #eaeaea;
    font-size: 80%;
    margin-top: 7px;
    padding-top: 7px;
    color: #aaa;
    /* font-weight: bold; */
}

table.segments > * > tr > td {
    border-top: 0 !important;
}

.navbar-brand img.avatar {
    width: 16px;
    height: 16px;
    position: relative;
    top: -3px;
}

.state-column {
	width: 40px;
	float: left;
}
.state-column .flags {
    float: right;
}
.status-flag {
    float: left;
    /* width: 30px; */
}
.other-flags {
    float: left;
    border-left: 1px solid #eaeaea;
    padding-left: 7px;
    margin-left: 7px;
}
.state-column .position {
    font-size: 14px;
}
.main-column {
    margin-left: 40px;
}

.source-column,
.translation-column {
	width: 33.3%;
}
.translation-column > a  {
	color: #666;
}
.table > tbody > tr > td.position {
    padding-top: 17px;
    color: #aaa;
    font-weight: bold;
	text-align: right;
}
.table > tbody > tr.current > td.position {
	color: #000;
}

#machine-translations {
    clear: both;
}

#machine-translations td.source {
    color: #009487;
}
#machine-translations > tr:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
}

.buttons {
	text-align: right;
}

.suggestion {
    overflow: hidden;
}
.suggestion-text {
    /*border: 1px solid #eee;
    margin-bottom: 10px;
    border-radius: 4px;
    font-weight: bold;*/
	/*font-style: italic;*/
	padding-bottom: 5px;
}
.suggestion-author {
    padding-top: 14px;
    float: left;
}
.suggestion-menu {
    float: right;
    padding-top: 11px;
}

.suggestion .list-group {
    box-shadow: none;
}

.suggestion .list-group-item {
    border: 0;
    padding: 7px 0;
}

table.segments > thead > tr > th:first-child {
    text-align: right;
}

#suggestions .diff {
    display: none;
}



.activity {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    text-align: right;
}
.activity-1,
.activity-2 {
    font-size: 11px;
}
.activity-2 {
    font-weight: bold;
}
.activity-1 a,
.activity-2 a{
    white-space: nowrap;
}

/*#glossary {
	
}*/

#glossary table > tbody > tr > td:first-child,
#glossary table > thead > tr > th:first-child,
#glossary table > tfoot > tr > td:first-child {
    padding-left: 15px;
}
#glossary table > tbody > tr > td:last-child,
#glossary table > thead > tr > th:last-child,
#glossary table > tfoot > tr > td:last-child {
    padding-right: 15px;
	width: 60px;
}
#glossary table > tbody > tr > td:last-child,
#glossary table > thead > tr > th:last-child,
#glossary table > tfoot > tr > td:last-child {
    text-align: right;
}

#glossary tfoot {
    background: #f5f5f5;
}

#glossary table > tfoot > tr > td {
    padding-top: 10px;
    padding-bottom: 10px;
}
#glossary tfoot input[type="text"] {
	width: 100%;
}

span.in-glossary {
    border-bottom: 2px dotted #8bcc8b;
    cursor: help;
}

.current.segment .status-column {
    position: relative;
    padding-left: 35px !important;
}
/*#comments{
    position: absolute;
    left: 35px;
    background: #fff;
    box-shadow: 0 5px 5px #ccc;
    color: black;
    padding-bottom: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1;
    right: 7px;
}*/
#comments > .panel {
    margin-bottom: 0;
}
.comment-text {
    margin-top: 5px;
}

.comment .badge {
    font-weight: normal;
    background-color: #d8dce2;
    border-radius: 0;
    color: #777;
}

li.list-group-item.comment {
    background: #eef0f3;
}

.panel-default.panel > .panel-heading {
    background-image: -webkit-linear-gradient(top, #3fcec1 0%, #2aa79c 100%);
    background-image: -o-linear-gradient(top, #3fcec1 0%, #2aa79c 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3fcec1), to(#2aa79c));
    background-image: linear-gradient(to bottom, #3fcec1 0%, #2aa79c 100%);
    color: #fff;
}


#div_id_scope label {
    float: left;
    padding-top: 7px;
    font-weight: normal;
}

#div_id_scope .controls {
    margin-left: 60px;
}

p#hint_id_scope {
    display: none;
}



.review-info {
    padding: 5px 11px;
    font-size: 11px;
    color: #666;
    text-align: right;
}


/*.table > thead > tr > th.statusbar-container {
    padding-left: 0;
    padding-right: 0;
}*/
.statusbar {
    position: relative;
}
.statusbar.fixed {
    position: fixed;
    bottom: -5px;
    z-index: 2;
    width: 27%;
    margin-left: 1px;
}
.statusbar.fixed .progress {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.statusbar-layer {
    position: absolute;
    z-index: 1;
    right: 0;
    padding: 0 3px;
    color: #000;
}
.fixed .statusbar-layer {
    font-size: 11px;
}

.foundcat-editor .left-part {
    float: left;
    padding-right: 10px;
    min-width: 33.3%;
    margin-bottom: 1px;
}



.translation-item label {
    display: none;
}
textarea.translation-editor {
    border-radius: 0;
}


div#machinetranslation .foundcat-segment {
    margin-left: -15px;
    margin-right: -12px;
}
#machinetranslation .foundcat-segment > .source {
    border-left-color: #bdc3ca;
}

td.activity {
    vertical-align: middle !important;
}
.foundcat-save {
    display: flex;
}

.btn.fc-translate,
.btn.fc-next,
.btn.fc-review {
    flex: 0.618;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    line-height: 25px;
}


#current-segment .translation > form {
    display: flex;
    flex-direction: column;
}
#current-segment .translation > form:only-child {
    min-height: 100%;
}
#current-segment .translation .list-group {
    margin-bottom: 0;
}
#current-segment .translation .list-group > .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.translation-item label {
    display: none;
}
textarea.translation-editor {
    border-radius: 0;
}

.translation > form > label {
    display: none;
}
.translation > form > textarea {
    flex: 1;
}
.editor-toolbar {
    background: #F4F4F4;
    margin: 0;
    flex: 1;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
#current-segment .source {
    display: flex;
    flex-direction: column;
    padding-bottom: 0 !important;
}

.txt {
    flex: 1;
    margin-bottom: 10px;
}
.txt span {
    cursor: pointer;    
}
.txt span:active {
    background: #cadae8;
    cursor: pointer;
}
#current-segment .nav-tabs > li.active > a {
    background: #fcfcfc;
}

.foundcat-editor .tab-content {
    background: #fcfcfc;
    padding: 6px 12px;
    border: 1px solid #f7f7f7;
    border-top: 0;
    margin-top: -5px;
    margin-left: 45px;
    margin-right: 27px;
    margin-bottom: 5px;
    border-left: 3px solid #e4e4e4;
}

#current-segment .nav > li > a {
    padding: 6px 12px;
    background: #dfe6ec;
}


#glossary .input-group {
    display: flex;
}

#glossary .input-group-btn {
    width: initial;
    flex: 0.333;
    display: flex;
}
#glossary .input-group-btn button {
    flex: 1;
    padding-left: 0;
    padding-right: 0;
}

#current-segment .btn-group {
    display: flex;
    margin-top: 6px;
}
#current-segment .btn-group > .btn {
    flex: 1;
}

#comments form > .input-group > .input-group-btn > .btn {
    width: 100%;
}

.foundcat-editor .tab-content .row {
    margin-left: -9px;
    margin-right: -9px;
}
.foundcat-editor .tab-content .row > .col-sm-6 {
    padding-left: 9px;
    padding-right: 9px;
}

.foundcat-editor {
    max-width: 1300px;
    margin: 0 auto;
}

.foundcat-comments,
.foundcat-progress {
    padding-left: 45px;
    padding-right: 27px;
}
.comment span[title],
.user-info span[title] {
    color: #999;
    margin-left: 0.5em;
}
.comment .comment-text,
#history .change-text {
    display: inline;
    margin-left: 0.5em;
}
.foundcat-editor .user-info {
    margin-top: 3px;
    margin-bottom: 5px;
}
.foundcat-editor li:not(:last-child) .user-info {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
}
.foundcat-editor li.list-group-item .user-info{
    border: 0;
    padding: 0;
    margin: 0;
}

.foundcat-comments {
    padding-left: 59px;
}
.foundcat-history {
    padding-left: 8px;
    padding-right: 42px;
}
.foundcat-history li > span[title]{
    color: #999;
}

.overview {
    background: #f3f3f3;
    border: 1px solid #ececec;
    padding: 10px 10px;
    padding-left: 9px;
    border-top: 0;
    margin-top: -2px;
    margin-bottom: 15px;
}

form.set-error-category {
    margin-bottom: 7px;
}

.foundcat-comments #div_id_scope,
.foundcat-comments label {
    display: none;
}

.foundcat-comments li > div {
    display: inline;
    color: #000;
    padding-left: 0.5em;
}

.foundcat-segment {
    display: flex; /* equal height of the children */
    clear: both;
}

.foundcat-segment > .position {
    padding-top: 10px;
    margin-right: 15px;
    color: #bbb;
    font-weight: bold;
    min-width: 30px;
    text-align: right;
}

.foundcat-segment > .source,
.foundcat-segment > .translation,
.foundcat-segment > .target {
    flex: 1;
    flex-basis: 50%;
    background: #f4f4f4;
    margin: 5px 0;   
    padding: 6px 12px;
    word-wrap: break-word;
    /*overflow: hidden;*/

}

.foundcat-segment > .source {
    background: #f7f7f7;
    border: 1px solid #f1f1f1;
    border-bottom: 0;
    border-right: 0;
    
}

#current-segment .fc-toolbar-group:first-child {
    margin-left: 9px;
}
#current-segment .fc-toolbar-group {
    margin: 6px 0;
    display: flex;
    flex: 2 auto;
    margin-right: 9px;
}
#current-segment .fc-toolbar-group:first-child {
    flex: 1 auto;
}

#current-segment .fc-toolbar-group button {
    flex: 1 auto;
    padding: 3px 2px;
}

.editor-toolbar {
    display: flex;
}

.foundcat-segment > .source {
    border-left: 3px solid #efd2d1;
}
.foundcat-segment.translated > .source {
    border-left-color: #6ad26a;
}
.foundcat-segment.fuzzy > .source {
    border-left-color: #e0706c;
}

.foundcat-segment:not(.current) > .translation {
    border-left: 1px solid #ececec;
}

.foundcat-segment.current > .source {
    border-right: 0;
    margin-right: -1px;
}


#current-segment ul.nav.nav-tabs {
    display: flex;
    padding-left: 12px;
    margin-left: -12px;
    padding-right: 12px;
    margin-right: -12px;
}
#current-segment .nav-tabs > li {
    flex: 1 auto;
    text-align: center;
    align-self: flex-end;
}
#current-segment .nav-tabs > li:last-child > a {
    margin-right: 0;
}
.foundcat-segment > .status {
    padding-top: 10px;
    margin-left: 15px;
}

.foundcat-extras-1 {
    padding-left: 45px;
    padding-right: 27px;
}

.foundcat-segment.current .translation {
    padding: 0;
}
.foundcat-segment.current .translation textarea {
}
.foundcat-segment.current .translation > form > button {
    display: block;
    width: 100%;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.foundcat-segment.current > .position {
    color: #000;
}


.badge {
    background: #d8dce2;
}


.badge span.metal {
    font-size: 19px;
    line-height: 0;
}

span.level_2.metal {
    color: #1fbebe;
}

span.level_3.metal {
    color: #00f8f8;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

span.level_4.metal {
    color: #c1ffff;
    text-shadow: 0 0 3px #c1ffff;
}



td.progress-cell {
    width: 33%;
}

.legend {
    text-align: right;
    font-size: 11px;
    margin-bottom: 11px;
}
.legend .progress {
    height: 14px;
    width: 14px;
    margin-left: 14px;
}



#mt-toggle {
    display: block;
}


.foundcat-extras-1 {
    display: flex;
}
.fc-comment {
    flex: 33.33%;
}
.fc-glossary {
    flex: 66.66%;
    padding: 0 5px;
}
.fc-glossary > form > .input-group {
     display: flex;
}
.fc-mt {
    flex: 33.33%;
}
input#id_source {
    flex: 1;
}
input#id_target {
    flex: 0.667;
}


#current-segment .nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
}






.langpicker {
    background: #fafafa;
    overflow: hidden;
    padding: 5px 10px 0;
    margin: 10px 0;
    font-size: 80%;
    color: #999;
    border: 1px solid #f0f0f0;
}
.langpicker .form-group {
    float: left;
    width: 50%;
}
.langpicker .description {
    clear: both;
    position: relative;
    top: -10px;
}






.fbadge {
    background: #337abb;
    display: inline-block;
    padding: 4px;
    border-radius: 2em;
    position: relative;
}
.fbadge .info {
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
}
.fbadge > ul {
    position: absolute;
    color: #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    right: 0;
    z-index: 10;
    width: 275px;
    display: none;
    text-align: left;
}
.fbadge.left > ul {
    left: 0;
    right: auto;
}
.fbadge:hover > ul {
    display: block;
}
.nav .fbadge {
    margin: -4px 0px;
}



@media (max-width: 1111px) {
    .segments.table > thead > tr > th, 
    .segments.table > tbody > tr > th, 
    .segments.table > tfoot > tr > th, 
    .segments.table > thead > tr > td, 
    .segments.table > tbody > tr > td,
    .segments.table > tfoot > tr > td {
        padding: 8px 2px;
    }
    .segments.table .position,
    .segments.table > thead > tr > th:first-child,
    .segments.table > tbody#machine-translations > tr > td:first-child {
        display: none;
    }
    
    .activity-1, .activity-2 {
        display: inline;
    }
    .activity-1:after {
        content: ":";
    }
    
    #current-segment .editor-toolbar
     .btn-group:nth-child(2) {
        display: none;
    }
    #current-segment .nav-tabs > li {
        overflow: hidden;
    }
    #current-segment .nav-tabs > li a {
        padding-left: 0;
        padding-right: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
@media (max-width: 500px) {
    body, .form-control, .btn {
        font-size: 12px;
    }
    #mt-toggle {
        width: 135px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    #glossary thead tr th:last-child,
    #glossary tbody tr td:last-child,
    #glossary tfoot {
        display: none;
    }
    
    .position, .status {
        display: none;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .content {
        margin-left: 0;
        margin-right: 0;
    }

    .foundcat-comments, .foundcat-progress {
        padding-left: 12px;
        padding-right: 12px;
    }
    h1 {
        font-size: 14px;
    }
    .foundcat-editor .tab-content {
        margin-left: 0;
        margin-right: 0;
    }

    #current-segment .editor-toolbar
     .btn-group:nth-child(2) {
        display: none;
    }

    #current-segment .nav-tabs > li a {
        font-size: 10px;
        padding: 6px 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    #current-segment .nav-tabs > li.active {
        overflow: visible;
    }
    #current-segment .nav-tabs > li.active > a {
        overflow: visible;
        padding-left: 2px;
        padding-right: 2px;
    }
}



