/*
Copyright © FoundCAT <team.foundcat@fh-aachen.de>

This file is part of FoundCAT <https://cat.fh-aachen.de/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.connect-segments {
    position: absolute;
    z-index: 1;
    margin-top: -11px;
    /* background: red; */
    padding: 1px 44px;
    cursor: pointer;
    width: 100%;
    left: 0;
    opacity: 0.333;
}
.connect-segments:hover{
    opacity: 1;
    margin-bottom: -11px;
    background: rgba(240, 240, 240, 0.5);
}

#segment-container .list-group-item:hover {
    background: #f4f4f4;
}
#segment-container .words:hover .divide-segments {
    display: inline;
}
.divide-segments {
    opacity: 0.333;
    display: none;
    cursor: pointer;
}

.divide-segments:hover {
    opacity: 1;
}